@import "../../../app/styles/colors";

.dropZone {
  cursor: pointer;
  padding: 16px;
  border: 3px dashed $dark-blue;
  border-radius: 8px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.textAreaContainer {
  height: calc(100vh - 350px);
  overflow-y: auto;
  margin-top: 16px;
}

.textArea {
  max-width: 100%;
  min-width: 100%;
  height: fit-content;
}

.chooseFileContainer {
  display: flex;
  align-items: center;

  button {
    margin-right: 8px;
  }
}
